@charset "UTF-8";
/* footer styles */
footer {
  grid-area: footer;
  padding: 3rem 0;
  width: 100%;
  background-color: dimgray;
  border-radius: 2rem 2rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
            "footer__copy  footer__nav__contents footer__nav__links";
}

div#footer__copy {
  grid-area: footer__copy;
  padding: 0 2rem 0 2rem;
  font-size: 1.2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#footer__nav__contents {
  grid-area: footer__nav__contents;
  padding: 0 2rem 0 2rem;
  height: 100%;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
}

div#footer__nav__links {
  grid-area: footer__nav__links;
  padding: 0 2rem 0 2rem;
  height: 100%;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
}

/* footer link styles */
footer a {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  height: 2.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
} 
footer a:hover {
  border-radius: 2rem;
  color: dimgray;
  background-color: white;
  font-weight: bold;
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
  footer img[src$=".svg"] {
    transform: scale(0.8);
  }

}

/* SmartPhone Image styles */
@media screen and (max-width:500px) {
  footer {
    display: flex;
    flex-direction: column;
  }

}