@charset "UTF-8";
/* hero Section styles */
section.hero__section {
    max-width: 100%;
    min-height: 600px;
    color: white;
    background: linear-gradient(deepskyblue, green);
    border-radius: 0 0 2rem 2rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-areas:
        "slogan   img"
        "explain  img";
}
h2.slogan {
  grid-area: slogan;
  margin: 0 0 2rem 5rem;
  font-size: 6rem;
  color: white;
  text-align: left;
  align-self: end;
  line-height: 1;
}
span.slogan__top {
  font-size: 6rem;
  font-weight: bold;
}
span.slogan__sub {
  font-size: 3rem;
}
p.slogan__explain {
  grid-area: explain;
  margin: 0 0 0 5rem;
}
img.slogan__img {
  grid-area: img;
  width: 500px;
  align-self: end;
}

/* profile Section styles */
div#profile__layput {
  max-width: 100%;
  margin-bottom: 0;
  display: grid;
  grid-template-areas: 
          "profile__img profile__name"
          "profile__img profile__contents";
}
div#profile__img {
  grid-area: profile__img;
  width: 300px;
  height: 300px;
  border-radius: 20rem;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}
section.profile__section h3 {
  grid-area: profile__name;
  padding: 0 0 0 1.5rem;
}
section.profile__section p {
  grid-area: profile__contents;
  padding: 1.5rem;
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* skills Section styles */
section.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li.html {
  color: white;
  background-color: MediumSeaGreen;
}
li.css {
  color: white;
  background-color: Indigo;
}
li.js {
  background-color: yellow;
}
li.ts {
  color: white;
  background-color: DodgerBlue;
}
li.sql {
  color: white;
  background-color: darkred;
}
li.react {
  background-color: DeepSkyBlue;
}

/* portfolio Section styles */
section.portfolio {
    max-width: 90%;
    background-color: LightBlue;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.portfolio dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
section.portfolio dt {
  margin: 2rem;
}
section.portfolio dd {
  padding: 2rem;
}
section.portfolio a {
  font-weight: bold;
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
    main {
        padding-top: 8rem;
    }
}

/* SmartPhone Contents styles */
@media screen and (max-width:500px) {
    main {
        padding-top: 7rem;
    }
}

/* Career Section styles */
section.career {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.career dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
section.career dt {
  margin: 2rem;
  font-weight: bold;
}
section.career dd {
  margin: 2rem;
}

/* Tablet Font styles */
@media screen and (max-width:1280px) {
    h2.slogan {
        font-size: 4rem;
        color: white;
    }
}

/* SmartPhone Font styles */
@media screen and (max-width:500px) {
    h2.slogan {
        font-size: 2.5rem;
        color: white;
    }
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
    li:hover{
        pointer-events: none;
    }
}

/* SmartPhone Contents styles */
@media screen and (max-width:500px) {
    li:hover{
        pointer-events: none;
    }
}