/* Card Component Styles */
ul.cards {
	width: 100%;
	max-width: 60rem;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scrollbar-width: none;
	user-select: none;
	cursor: grab;
}
ul.cards.is-dragging {
	cursor: grabbing;
}
li.card {
	margin: 1rem;
	padding: 1rem;
	width: 20rem;
	min-width: 20rem;
	height: 20rem;
	border-radius: 1rem;
	border: 1px solid dimgray;
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
li.card:hover {
	transform: scale(1.05);
	transition: all 0.5s ease-out 0.1s;
}

/* Tablet Contents Style */
@media screen and (max-width: 1280px) {
}

/* SmartPhone Image styles */
@media screen and (max-width: 500px) {
	li.card {
		width: 15rem;
		min-width: 15rem;
	}
}
