@charset "UTF-8";
/* Contents styles */
:root {
    scroll-padding: 8rem;
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 2vw;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

main {
    padding-top: 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    /* 
     * width を 100% にしておき、max-width で最大幅を指定することで、
     * 画面幅が狭い場合に自動的に縮むようにする。
     */
    width: 100%;
    max-width: 60rem;
    min-height: 100vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}

section.title__back {
    max-width: 100%;
    color: white;
    background: linear-gradient(deepskyblue, green);
    justify-content: center;
    align-items: center;
}

section.about__back {
    background-color: white;
}

section.profile__back {
    max-width: 100%;
    margin-bottom: 0;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.profile__back div#profile {
    width: 100%;
    max-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section.portfolio__back {
    max-width: 100%;
    color: white;
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.portfolio__back div#portfolio {
    width: 100%;
    max-width: 60rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
    padding: 1rem 0;
    width: 100%;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
small {
  padding: 0 2rem 0 0;
}
div#footer__nav {
  padding: 0 0 0 2rem;
  border-left: 1px solid white;
  display: grid;
}

small {
    font-size: 1.2rem;
    color: white;
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
    main {
        padding-top: 8rem;
    }
}

/* SmartPhone Contents styles */
@media screen and (max-width:500px) {
    main {
        padding-top: 7rem;
    }
}

/* Font styles */
h1 {
    margin: 1rem;
    padding: 1rem;
}

h2 {
   margin: 1rem 0.5rem 0.5rem 0;
   font-size: 4rem;
}
h2.slogan {
    font-size: 6rem;
    color: white;
}
section.portfolio__back h2 {
    color: white;
}

h3 {
    margin: 2rem 0;
    font-size: 3rem;
}

h4 {
    margin: 2rem 0;
    font-size: 2rem;
}

/* Tablet Font styles */
@media screen and (max-width:1280px) {
    h2.slogan {
        font-size: 4rem;
        color: white;
    }
}

/* SmartPhone Font styles */
@media screen and (max-width:500px) {
    h2.slogan {
        font-size: 2.5rem;
        color: white;
    }
}

/* Link styles */
a {
    text-decoration: underline;
}
a:hover {
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: underline;
} 
footer a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
    li:hover{
        pointer-events: none;
    }
}

/* SmartPhone Contents styles */
@media screen and (max-width:500px) {
    li:hover{
        pointer-events: none;
    }
}

/* List styles */
ul {
    display: flex;
    flex-wrap: wrap;
}
li {
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: dimgray;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
li:hover {
    transform: scale(1.1);
    transition: all .5s ease-out 0.1s;
}

li.html {
    background-color: MediumSeaGreen;
}
li.css {
    background-color: yellow;
}
li.js {
    background-color: royalblue;
}
li.sql {
    color: white;
    background-color: darkred;
}

section.portfolio__back li{
    box-shadow: 1rem 1rem 0.5rem darkgreen;
}

dt {
    font-weight: normal;
    margin: 1rem 0;
}
dd {
    margin: 1rem;
}

/* Table styles */
table {
    margin: 0.5rem 0;
    width: 100%;
    max-width: 60rem;
    overflow-wrap: break-word;
}
th {
    background-color: white;
}
th, td {
    padding: 0.75rem;
    border: 2px solid black;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/* Image styles */
img[src$=".svg"] {
    transform: scale(1.8);
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
    img[src$=".svg"] {
        transform: scale(1.5);
    }
}

/* SmartPhone Image styles */
@media screen and (max-width:500px) {
    img[src$=".svg"] {
        transform: scale(1);
    }
}