/* Contents styles */
:root {
    scroll-padding: 5rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    width: 100%;
    border-bottom: solid 1px #888888;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

main {
    margin: 0 0.5rem 0 0.5rem;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    margin: 0.5rem;
    /*
     * width を 100% にしておき、max-width で最大幅を指定することで、
     * 画面幅が狭い場合に自動的に縮むようにする。
     */
    width: 100%;
    max-width: 60rem;
    font-size: 1rem;
    border: solid 1px #888888;
}

footer {
    margin: 1rem 0 0 0;
    padding: 1rem;
    text-align: center;
    border-top: solid 1px #888888;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

small {
    color: #888888;
}

/* Font styles */
h1, h2, h3, h4, h5, h6, p, table, li, a {
    margin: 1rem;
    font-family: 'Consolas', sans-serif;
    color: #555555;
}

h1 {
    margin: 0;
    padding: 0.5rem;
    font-size: 3rem;
    color: #888888;
    background-color: #ffffff;
}

h2 {
   margin: 1rem 1rem 0 1rem;
   font-size: 2rem;
   font-weight: bold;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Link styles */
a {
    color: #555555;
    text-decoration: underline;
}

a:hover {
    color: #ff9500;
    text-decoration: none;
}

/* List styles */
ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    border: solid 1px #888888;
    border-radius: 1rem;
}

/* Table styles */
table {
    margin-bottom: 1.5rem;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
}