@charset "UTF-8";
/* Contents styles */
:root {
    scroll-padding: 5rem;
    font-family: 'Century Gothic', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 2vw;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 1rem 0 gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

main {
    padding-top: 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    /* 
     * width を 100% にしておき、max-width で最大幅を指定することで、
     * 画面幅が狭い場合に自動的に縮むようにする。
     */
    width: 100%;
    max-width: 60rem;
    min-height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1rem;
}

section.title__back {
    max-width: 100%;
    color: white;
    background: linear-gradient(deepskyblue, green);
    justify-content: center;
    align-items: center;
}

section.about__back {
    color: dimgray;
    background-color: white;
}

section.profile__back {
    max-width: 100%;
    margin-bottom: 0;
    color: black;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

section.portfolio {
    max-width: 100%;
    margin-bottom: 0;
    color: white;
    background-color: forestgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.portfolio div#portfolio {
    width: 100%;
    max-width: 60rem;
    min-height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1rem;
}

footer {
    padding: 1vw;
    width: 100%;
    background-color: peru;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

small {
    font-size: 1rem;
    color: white;
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {
    main {
        padding-top: 8rem;
    }

    li:hover{
        pointer-events: none;
    }

    ul {
        display: flex;
        overflow-y: scroll;
    }
}

/* SmartPhone Contents styles */
@media screen and (max-width:500px) {
    main {
        padding-top: 7rem;
    }

    li:hover{
        pointer-events: none;
    }

    ul {
        display: flex;
        overflow-y: scroll;
    }
}

/* Font styles */
h1 {
    margin: 1rem;
    padding: 1rem;
}

h2 {
   margin: 1rem 0.5rem 0.5rem 0;
   font-size: 4rem;
   color: dimgray;
}

h2.slogan {
    font-size: 6rem;
    color: white;
}

section.portfolio h2 {
    color: white;
}

h3 {
    margin: 2rem 0;
    font-size: 3rem;
    color: dimgray;
}

h4 {
    margin: 2rem 0;
    font-size: 2rem;
    color: dimgrey;
}

/* Tablet Font styles */
@media screen and (max-width:1280px) {
    h2.slogan {
        font-size: 4rem;
        color: white;
    }
}

/* SmartPhone Font styles */
@media screen and (max-width:500px) {
    h2.slogan {
        font-size: 2.5rem;
        color: white;
    }
}

/* Link styles */
a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

header a:hover {
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    color: saddlebrown;
    text-decoration: none;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
} 

footer a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
} 

/* List styles */
ul {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

li {
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: dimgray;
    background-color: white;
    border: 5px solid dimgray;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    transform: scale(1.1);
    transition: all .5s ease-out 0.1s;
}

li.html__css {
    color: white;
    background-color: MediumSeaGreen;
    border: 5px solid darkgreen;
}

li.js {
    color: white;
    background-color: royalblue;
    border: 5px solid darkblue;
}

li.sql {
    color: white;
    background-color: SteelBlue;
    border: 5px solid orange;
}

section.portfolio li{
    box-shadow: 1rem 1rem 0.5rem darkgreen;
}

/* Table styles */
table {
    margin: 0.5rem 0;
    width: calc(100% - 1rem);
    table-layout: fixed;
    overflow-wrap: break-word;
}

th, td {
    border: 1px solid black;
    padding: 0.75rem;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}