@charset "UTF-8";
/* Contents styles */
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header"
        "breadcrumb breadcrumb"
        "aside   main"
        "footer footer";
}

header {
  grid-area: header;
}

nav#breadcrumb {
    width: 100%;
    padding: 8rem 0 0 0;
    color: white;
    background-color: forestgreen;
    display: flex;
    justify-content: left;
    grid-area: breadcrumb;
}

main {
    background-color: white;
    grid-area: main;
    counter-reset: section-counter;
}

aside {
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    height: 50vh;
    grid-area: aside;
    background-color: lightgrey;
}

footer {
  grid-area: footer;
}

pre {
    padding: 1rem;
    color: white;
    background-color: black;
    font-family: Consolas, sans-serif;
    border-radius: 1rem;
}

/* Tablet Contents Style */
@media screen and (max-width:1280px) {

}

/* SmartPhone Contents styles */
@media screen and (max-width:500px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
        "header"
        "aside"
        "main"
        "breadcrumb"
        "footer";
    }
}

/* Font styles */
h2 {
   margin: 1rem 0.5rem 1rem 0;
   font-size: 4rem;
   color: dimgray;
   counter-increment: section-counter;
}

h2::before {
    content: counter(section-counter) ". "
}

h3 {
    margin: 2rem 0;
    font-size: 3rem;
    color: dimgray;
}

h4 {
    margin: 2rem 0;
    font-size: 2rem;
    color: dimgrey;
}

/* List styles */
ul {
    list-style: square;
    padding: 2rem;
}
ol {
    list-style-type: decimal;
    padding: 0.5rem;
}
li {
  width: auto;
  height: auto;
  font-size: 1rem;
  font-weight: normal;
  color: black;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  display: initial;
}   

nav#breadcrumb ol li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

/* Table styles */
table {
    margin: 0.5rem 0;
    width: calc(100% - 1rem);
    table-layout: fixed;
    overflow-wrap: break-word;
}

th, td {
    border: 1px solid black;
    padding: 0.75rem;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/* Image styles */
img[src$=".svg"] {
    transform: scale(1.8);
}

/* Tablet Image Style */
@media screen and (max-width:1280px) {
    img[src$=".svg"] {
        transform: scale(1.5);
    }
}

/* SmartPhone Image styles */
@media screen and (max-width:500px) {
    img[src$=".svg"] {
        transform: scale(1);
    }
}

/* Input styles */
input[type="text"],input[type="number"] {
    max-width: 20rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid lightgray;
}

input[type="button"] {
    max-width: 5rem;
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: deepskyblue;
    color: white;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: dodgerblue;
}